:root{
    
    --laci:#075192;
    --acikmav:#1295D5;
    --koyu:#282d43cc;
}
body{
    background-size: cover;
    background-color: #eee;
}
.bg-blizzard{
    background-color: var(--koyu);
}
#oyun-modal , #user-modal{
    color: #eee;
}
.yazi-renk{
    color: var(--laci);
}
.table th{
    color: var(--acikmav);
}
.kurum{
    height: 105px;
    width: 200px;
    
}
.btn{
    background-color: var(--laci);
    color: white;
    font-weight: bold;
    max-height: fit-content;
    padding: 10px;
    font-size: 18px;
}
#baglantilar .list-group-item{
    color: #ecf1f5;
    background-color: var(--laci);
    margin-right: 2px;
}
.navbar .nav-link{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}
#kart{
    color: white;
    
    
}