/*Genel Biçimlendirme*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /*genişlik ve yüksekliğe border ve padding dahil*/
}
body{
    font-family: "Raleway", serif;
    font-weight: 400;
}
.ayrac{
    margin: 10px auto;
    border-bottom: 1px solid #005670;  /*araya çizgi çekti*/
}
header{  /*header bölümü*/
    background-color: #005670;  
    color: #fff;
    padding: 30px 0;
    text-align: center;  /*yazıyı ortalıyor*/
}
header ul{
    display: flex;  /*içindeki nesneleri esnek yapar*/
    list-style: none;    /*listedeki noktaların kaybolması için*/
    justify-content: center;  /*içeriği hizalar*/
    
}
#menu a{
    display: block; 
    color: #fff; 
    text-decoration: none;  /*bağlantıların altındaki çizgiyi kaldırdı*/
    padding: 16px 8px 0 8px;
}
main{  /*main bölümü*/
    display: flex;
    gap: 16px;   /*içindeki nesneler kendi arasında boşluk bırakır*/
    margin: 16px ;
    border: 1px solid #333;  /*kenaralara çerçeve oluşturuyor*/
    padding: 16px;
    border-radius: 8px;  /*çerçevenin kenarlarını oval yaptı */

}
main .content{
    flex: 9;  /*o nesnenin ne kadar esneyeceğini gösteriyor*/
    background-color: #8db9ca;
    padding: 16px;
}
main aside{
    flex: 3;
    background-color: #8db9ca;
    padding: 16px;
}
main section h2{
    margin-bottom: 5px;
}
aside ul{
    list-style: none;
}
aside a{
    color: #222;
    line-height: 150%;  /*satır yüksekliğinin ayarlıyor*/
}
footer{ /*footer bölümü*/
    background-color: #005670;  
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
